<launch>
<!-- 	<group ns="GUI">
		<node name="OEE_gui" pkg="legosort" type="OEE_gui.py" output="screen">
			<param name="timer_value" value="0.1" />
		</node>
	</group> -->

	<group>
		<node name="plc_controller" pkg="legosort" type="plc_controller.py" output="screen"></node>
	</group>

	<group>
		<node name="MessyServer" pkg="legosort" type="messy_server.py" output="screen">
			<param name="messy_ip" value="192.168.10.100" />
			<param name="debug" value="1" />
			<param name="order_update_interval" value="1" />
			<param name="max_order_requests" value="10" />
		</node>
	</group>

	<group>
		<node name="Controller" pkg="legosort" type="legosort_controller.py" output="screen">
			<param name="messy_ip" value="192.168.10.100" />
			<param name="max_orders" value="2" />
			<param name="debug" value="1" />
			<param name="max_order_requests" value="10" />
			<param name="order_update_interval" value="1" /> 
			<param name="new_bricks_topic" value="/Vision_NS/new_bricks_topic" />
			<param name="brick_timer_interval" value="0.1" />
			<param name="brick_travel_duration" value="7050" />
			<param name="brick_travel_duration_error_max" value="100" />
			<param name="brick_listen_topic" value="all_bricks_topic" />
		</node>
	</group>
	
<!-- 	<group>
		<node name="PackMLStatemachine" pkg="legosort" type="packml_statemachine.py" output="screen">
			<param name="log_topic" value="MessyServer/CellLog" />
			<param name="debug" value="1" />
		</node>
	</group> -->

	<group ns="Vision_NS">
		<node name="Vision_node" pkg="legosort" type="vision_node" output="screen">
			<param name="all_bricks_topic" value="all_bricks_topic" />
			<param name="loop_interval" value="0.3" />
		</node>
		<node name="Brick_Detector" pkg="legosort" type="brick_detector.py" output="screen">
			<param name="brick_listen_topic" value="all_bricks_topic" />
			<param name="brick_publish_topic" value="new_bricks_topic" />
			<param name="brick_size_tolerance" value="45.0" />
			<param name="brick_angle_tolerance" value="10.0" />
			<param name="clean_bricks_interval" value="0.1" />
			<param name="keep_bricks_for_milliseconds" value="10000" />
		</node>
	</group>
</launch>